.auth-container{
    height: 99.8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-card{
    width: 290px;
    background-color:DarkSeaGreen;
    padding: 20px;
    border-radius: 5px;
}
.user-input{
    width: 270px;
    padding: 7px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray; 
}
.user-input:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}
.user-input:focus{
    outline-width: 0px;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}
.user-field-error{
    color:red;
    font-size: 12px;
    line-height: 1px;
    height: 3px;
}
.auth-submit-btn{
    width: 284px;
    padding: 5px;
    margin-top: 10px;
    border: none;
    background-color:chocolate;
    cursor: pointer;
}
.auth-submit-btn:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}
.auth-link{
    text-decoration: none;
    border:none;
    background-color: DarkSeaGreen;
    color:blue;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}
.auth-link:hover{
    color: #3f2a2a;
}

.select-option{
    text-align: center;
    font-size: 14px;
}

.forgot-btn{
    margin-left: 32%;
    text-decoration: none;
    border:none;
    background-color: rgb(6, 6, 46);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}
.forgot-btn:hover{
    background-color: rgb(95, 67, 15);
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}